/*
COLOR PALLET
#FFFFFF - white
#F7FFF7 - almost white
#343434 - dark gray, almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#1789FC - dodger blue
#296EB4 - spanish blue
#FDB833 - honey yellow
#FFD07B - orange yellow crayola
#B1740F - gold
#656565 - dark grey
*/

/* Global Styles
-------------------------- */
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  font-size: 15px;
  line-height: 1.5;
  background: #ffffff;
}
img {
  width: 300px;
}
a {
  color: #343434;
}
ul {
  list-style-type: square;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  margin: 0;
}
h3 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 20px;
}
h4 {
  margin: 0;
  font-size: 17px;
}
h5 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #656565;
}
h6 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  color: #656565;
}
.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}
.divider {
  border-bottom: 1px solid #343434;
}
.plus {
  list-style: none;
}
.plus a {
  text-decoration: none;
  color: gray;
}
.plus a:hover {
  font-style: italic;
}
.plus:before {
  content: "+";
  margin-left: -19px;
  padding-right: 9px;
}
.fab:hover {
  font-size: 1.1em;
}
/* Navigation
-------------------------- */
.nav {
  left: -2px;
  border: 2px solid #1789fc;
  border-left-color: #ffffff;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  width: 8%;
  background-color: #ffffff;
  font-size: 25px;
  height: 390px; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  text-decoration: none;
}
.nav li:hover {
  font-weight: 750;
}
.nav a {
  line-height: 40px;
  margin-left: 10px;
  text-decoration: none;
  font-family: "Bebas Neue";
}
.first-about {
  margin-top: 10px;
}

/* Profile
-------------------------- */
header {
  background: #1789fc;
  color: #f7fff7;
  /* text-align: center; */
}
header a {
  color: #f7fff7;
}

/* Education
-------------------------- */
.education {
  padding: 0;
}
.degrees-content h5,
.degrees-content h6 {
  display: inline-block;
  margin-bottom: 0;
}
.degrees-content p {
  margin: 0;
}
.degrees-child {
  display: inline-block;
  margin-right: 60px;
}

/* Skills
-------------------------- */
.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  padding-top: 0;
}
.skills-list ul {
  list-style-type: square;
}
.skills-time ul {
  list-style-type: none;
  padding: 0;
}

/* Projects
-------------------------- */
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  /* padding: 8px; */
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.project-content p {
  margin: 5px;
  margin-left: 0;
}
.project-content ul {
  list-style-type: square;
}
.img-terminal {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-syringe {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-orbit {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img-LRF {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.job-content ul {
  list-style-type: square;
}

/* Athletics
-------------------------- */
.athletics-content p {
  margin: 0;
}
.athletics-content ul {
  list-style-type: square;
}
.athletics-content h3 {
  margin-top: 40px;
}
.athletics-content h5,
.athletics-content h6 {
  display: inline-block;
}
.img-vball {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  padding: 0;
  border-radius: 50%;
}
/* Awards
-------------------------- */
.award-content h3 {
  margin-bottom: 0;
}
.award-content h4 {
  margin: 0;
}
.award-content p {
  margin: 0;
}
.awards-details h5 {
  margin-left: 5px;
}
.awards-details h4,
.awards-details h5 {
  display: inline-block;
}
.awards-details {
  margin-bottom: 10px;
}
/* Contact Info
-------------------------- */
footer {
  background: #1789fc;
  color: #f7fff7;
  /* text-align: center; */
}
footer a {
  color: #f7fff7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
}
.contact-list a:hover {
  font-weight: 900;
}
/* Responsive
-------------------------- */
@media screen and (min-width: 750px) {
  .project-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    padding-top: 0px;
  }
  .job-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .athletics-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
  }
  .img-syringe {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 35px;
  }
  .skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-top: 0;
  }
}
